// 默认主题

// button
btn-text-size-sm = font-size-md
btn-text-size-md = font-size-xl
btn-text-color = color-white
btn-background-color = color-primary
btn-radius = radius-md
// switch
switch-width = 40px
switch-height = 28px
switch-color = color-primary-d