// color
input-text-color = color-black
input-text-placeholder-color = #ccc
input-caret-color = color-primary-sub
input-action-color = color-primary-sub
input-action-icon-color = color-gray-light
input-focus-color = color-primary-sub
// size
input-text-size = font-size-lg
input-text-action-size = font-size-md
input-text-size-lg = font-size-xl
input-text-action-size-lg = font-size-lg
// weight
input-text-weight = font-weight-light
// border
input-border-color = color-gray-light-d