// color
input-text-color = color-black
input-text-placeholder-color = color-gray-light-d
input-caret-color = color-primary-sub
input-action-color = color-primary-sub
input-action-icon-color = color-gray-light
// size
input-text-size = font-size-xl
input-text-action-size = font-size-md
input-text-weight = font-weight-light