nav-item-padding = 16px
// text
nav-text-size = font-size-title-lg
nav-text-weight = font-weight-light
nav-text-weight-active = font-weight-semibold
// indicator
nav-indicator-size = 6px
nav-indicator-color = color-primary-sub