// size
switch-width = 40px
switch-height = 28px
// border
switch-border-color = color-gray-light
switch-border-color-active = color-primary-sub
// background
switch-background-color = color-gray-light-d
switch-background-color-acitve = color-primary-sub