tab-item-padding = 16px
// text
tab-text-size = font-size-lg
tab-text-weight = font-weight-normal
tab-text-weight-active = font-weight-semibold
tab-text-color = color-gray
tab-text-color-active = color-primary-sub
// border
tab-border-color = color-primary-sub
// indicator
tab-indicator-width = 12px
tab-indicator-height = 2px
tab-indicator-color = color-primary-sub