// color-{颜色}-{深浅}-{difference}

// 品牌色
color-primary = #092A44
color-primary-d = #B09C7E
// white
color-white = #FFF
// black
color-black = #000
color-black-light = #333
// gray
color-gray = #999
color-gray-dark = #666
color-gray-light = #BBB
color-gray-light-d = #ddd
color-gray-light-dd = #F9F9F9
// red
color-red = #FA775E
color-red-dark = #E84221
// yellow
color-yellow = #FFAF3C
color-yellow-dark = #B09C7E
// blue
color-blue = #1188FF
color-blue-dark = #092A44
color-blue-light = #7D98BC
color-blue-light-d = #96A7B5
color-blue-light-dd = #EFF3F5
// green
color-green = #27CF71
// mark
color-mark = rgba(249, 249, 249, 0.85)