html
  -webkit-text-size-adjust 100%
  font-size 100%
  font-family 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, Arial, sans-serif
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display block
*
  margin 0
  padding 0
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
a
  text-decoration none
a, img
  -webkit-touch-callout none
img
  width 100%
  max-width 100%
  display block
select, input
  background transparent
  -webkit-appearance none
*:focus
  outline none
ul, ol
  list-style none
table
  border-collapse collapse
  border-spacing 0
